<div class="header">
  <div class="start">
    <div class="menu-icon">
      <mat-icon fontIcon="menu"></mat-icon>
    </div>
    <div class="logo">
      <div class="yt-icon">
        <img src="assets/images/youtube.png" alt>
      </div>
      <div class="yt-text">
        <h3>YOUTUBE</h3>
      </div>
      <div class="country-tag">
        <span>IN</span>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="search-bar">
      <div class="search-icon">
        <mat-icon fontIcon="search"></mat-icon>
      </div>
      <div class="search-input">
        <input type="text">
      </div>
      <div class="search-btn">
        <mat-icon fontIcon="search"></mat-icon>
      </div>
    </div>
  </div>
  <div class="end">
    <div class="profile-menu">
      <button type="button" class="avatar-btn">
        <img src="assets/profile-image.jpg" alt>
      </button>
    </div>
  </div>

  <!-- profile menu  -->
  <div class="profile-menu-list">
    <div class="menu-list-row">
      <div class="menu-list-item">
        <div class="item-icon">
          <div class="avatar-btn">
            <img src="assets/images/profile-image.jpg" alt>
          </div>
        </div>
        <div class="item-content">
          <h5>Haresh Prajapati</h5>
          <span>hp452444gmail.com</span>
        </div>
      </div>
    </div>

    <div class="menu-list-row">
      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h5>Google Account</h5>
        </div>
      </div>

      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h5>Switch Account</h5>
        </div>
      </div>

      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h5>Sign out</h5>
        </div>
      </div>
    </div>
  </div>
</div>
