<div class="header flex-center-between border1">
  <div class="start flex-center-between border1">
    <div class="menu-icon">
      <mat-icon fontIcon="menu"></mat-icon>
    </div>
    <div class="logo flex-center-between">
      <div class="yt-icon">
        <img src="assets/images/youtube.png" alt>
      </div>
      <div class="yt-text">
        <h3>YOUTUBE</h3>
      </div>
      <div class="country-tag">
        <span>IN</span>
      </div>
    </div>
  </div>

  <!-- header center part -->
  <div class="center">
    <div class="search-bar flex-center-between border1">
      <div class="search-icon border1">
        <mat-icon fontIcon="search" class="border1"></mat-icon>
      </div>
      <div class="search-input border1">
        <input type="text">
      </div>
      <div class="search-btn border1">
        <mat-icon fontIcon="search"></mat-icon>
      </div>
    </div>
  </div>
  <div class="end">
    <div class="profile-menu border1">
      <button type="button" class="avatar-btn">
        <img src="assets/images/profile-image.jpg" alt>
      </button>
    </div>
  </div>

  <!-- profile menu  -->
  <div class="profile-menu-list">
    <div class="menu-list-row">
      <div class="menu-list-item">
        <div class="item-icon">
          <div class="avatar-btn">
            <img src="assets/images/profile-image.jpg" alt>
          </div>
        </div>
        <div class="item-content">
          <h3>Haresh Prajapati</h3>
          <span>hp452444gmail.com</span>
        </div>
      </div>
    </div>

    <div class="menu-list-row">
      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h3>Google Account</h3>
        </div>
      </div>

      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h3>Switch Account</h3>
        </div>
      </div>

      <div class="menu-list-item">
        <div class="item-icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div class="item-content">
          <h3>Sign out</h3>
        </div>
      </div>
    </div>
  </div>
</div>