.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  /* background-color: bisque; */
  padding: 0 1.2rem;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu-icon {
  margin-right: 1rem;
}

.menu-icon img {
  width: 2rem;
  color: #fff;
  cursor: pointer;
}

/* start style */
.logo {
  position: relative;
}

.yt-icon-img {
  width: 1.8rem;
}

.yt-text-img {
  width: 4rem;
}

.country-tag {
  position: absolute;
  top: -0.4rem;
  right: -0.8rem;
}

.country-tag span {
  font-size: 0.7rem;
}

/* header center style */
.center {
  /* border: 1px solid red; */
  min-width: 35%;
}

.search-bar {
  width: 100%;
  height: 2.6rem;
  border: 1px solid #9e9999b0;
  background-color: #fff;
  border-radius: 2.6rem;
  overflow: hidden;
}

.search-focus {
  height: 100%;
  width: 100%;
  border-radius: 40px 0 0 40px;
  border-right: 1px solid #9e9999b0;
  overflow: hidden;
}

.search-icon {
  display: none;
  height: 100%;
  width: 3.5rem;
  text-align: center;
}

.search-input {
  width: 100%;
  height: 100%;
}

.search-input input {
  height: 100%;
  width: 100%;
  padding: 0.2rem 1.2rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
}

/* .search-input input:focus-within {
  padding: 0.2rem 0.4rem 0.2rem 1.2rem;
}

.search-input input:focus-within .search-focus {
  border: 1px solid blue;
}

.search-input input:focus-within .search-icon {
  display: flex;
} */

.search-input input:focus {
  padding: 0.2rem 0.4rem 0.2rem 0rem;
}

.search-input input:focus + .search-focus {
  border: 1px solid blue;
}

.search-input input:focus + .search-icon {
  display: flex;
}

.search-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f2efef;
  height: 100%;
  width: 4rem;
}

.profile-menu {
  height: 2rem;
  width: 2rem;
}

.avatar-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.avatar-btn img {
  width: 100%;
  border-radius: 100%;
}

/* profile menu list */
.profile-menu-list {
  width: 15rem;
  overflow: hidden;
  position: absolute;
  top: 3.2rem;
  right: 1rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.4rem 0 0 0;
}

.menu-list-row {
  border-bottom: 1px solid #ddd;
  padding: 0.8rem 1rem;
}

.menu-list-row:last-child {
  border-bottom: none;
}

.menu-list-item {
  padding: 0.15rem 0;
  display: flex;
  align-items: start;
}

.menu-list-item:last-child {
  margin-bottom: 0;
}

.menu-list-item:hover {
  background-color: #ddd !important;
}

.item-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1.4rem;
}

.item-icon .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.item-icon img {
  width: 80%;
}

.item-content p {
  font-size: 1rem;
  margin: 0;
}
