/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border1 {
  border: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* .flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */