<div class="sidebar">
  <div class="sidenav-container">
    <div class="nav">
      <img src="assets/images/home.png" alt>
      <p>Home</p>
    </div>
    <div class="nav">
      <img src="assets/images/shorts.png" alt>
      <p>Shorts</p>
    </div>
    <div class="nav">
      <img src="assets/images/subscriptions.png" alt>
      <p>Subscription</p>
    </div>
  </div>

  <div class="sidenav-container">
    <div class="nav">
      <img src="assets/images/history.png" alt>
      <p>History</p>
    </div>
    <div class="nav">
      <img src="assets/images/playlist.png" alt>
      <p>Playlists</p>
    </div>
    <div class="nav">
      <img src="assets/images/watch-later.png" alt>
      <p>Watch Later</p>
    </div>
    <div class="nav">
      <img src="assets/images/like.png" alt>
      <p>Liked Videos</p>
    </div>
  </div>

  <div class="sidenav-container">
    <div class="nav">
      <img src="assets/images/trending.png" alt>
      <p>Trending</p>
    </div>
    <div class="nav">
      <img src="assets/images/shopping.png" alt>
      <p>Shopping</p>
    </div>
    <div class="nav">
      <img src="assets/images/music.png" alt>
      <p>Music</p>
    </div>
    <div class="nav">
      <img src="assets/images/films.png" alt>
      <p>Films</p>
    </div>
    <div class="nav">
      <img src="assets/images/gaming.png" alt>
      <p>Gaming</p>
    </div>
  </div>

  <div class="sidenav-container">
    <div class="nav">
      <img src="assets/images/settings-low.png" alt>
      <p>Settings</p>
    </div>
    <div class="nav">
      <img src="assets/images/report.png" alt>
      <p>Report history</p>
    </div>
    <div class="nav">
      <img src="assets/images/help.png" alt>
      <p>Help</p>
    </div>
    <div class="nav">
      <img src="assets/images/feedback.png" alt>
      <p>Send feedback</p>
    </div>
  </div>

  <div class="sidenav-container">
    <div class="terms">
      <p>About Press Copyright Contact us Creator Advertise Developers</p>
      <p>Terms Privacy Policy & Safety How YouTube works Test new features</p>
      <span>&copy; 2024 Google LLC</span>
    </div>
  </div>
